{% extends 'base_teacher.html' %}
{% block title %}Enter marks{% endblock title %}
{% block content %}
<div class="container">
<form action="{% url 'confirm' mark.id %}" method="post">
{% csrf_token %}
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USN</th>
      <th scope="col">Student</th>
      
      <th scope="col">Marks</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>

{% for i in att %}
<tr>
<td></td>
<td> {{ i.USN}} </td>
<td>{{ i.name }}</td>

<td><input type="text" name="{{i.USN}}" id="{{i.USN}}"></td>
<td>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">    
    <label class="btn btn-outline-success active">
            <input type="radio"  id="option1" onclick="function hii(){ document.getElementById('{{i.USN}}').disabled=false;document.getElementById('{{i.USN}}').value='' };hii()"  value="present" checked> Present
        </label>
        <label class="btn btn-outline-danger">
            <input type="radio"  id="option2" onclick="function hi(){ document.getElementById('{{i.USN}}').value='absent';document.getElementById('{{i.USN}}').disabled=true; };hi()"  value="absent"> Absent
    </label>
    </div>
    


</td>
</tr>

        
{% endfor %}
</tbody>
</table>
<button type="submit" class="btn btn-dark">Submit</button>
</form>

{% endblock content %}